*.log
maps/*scratch.tmx
maps/challanges
*/*/*scratch.tmx
*.xcf
*scratch.png
*scratch.tmx
maps/scratch fg.png
assets/decoration/holiday/.DS_Store
.DS_Store
reacts/references
tilesets/scratch.aseprite
tilesets/scratchtileset 1.x.tsx
tilesets/scratchtileset.aseprite
tilesets/scratchtileset.png
tilesets/scratchtileset1.2.png
tilesets/scratch.tsx
tilesets/gather_decoration_1.21.png
**/priority list.txt
resources/palettes/makerweekRPG.ase
objects/WIP/13/West.png
objects/WIP/13/RPGAvatars.png
objects/WIP/13/PlayerBSpritesheet.png
objects/WIP/13/PlayerBKeyframe.png
objects/WIP/13/PlayerASpritesheet.png
objects/WIP/13/PlayerAKeyframe.png
objects/WIP/13/image (1).png
objects/WIP/13/Harmonica3.png
objects/WIP/13/Harmonica2.png
objects/WIP/13/Harmonica1.png
objects/WIP/13/backgrounddemo.png
objects/WIP/13/backgrounddemo2.png
objects/WIP/13/Dungeon.png
objects/WIP/13/Grandmother.png
objects/WIP/13/harmonica-Sheet.png
